---
import serverAuth from "../auth/server";
import Login from "../components/Login.svelte";
import BaseLayout from "../layouts/BaseLayout.astro";

/* Check current session */
const session = Astro.cookies.get("session");
const user = await serverAuth.getUser(session?.value);
if (user) {
	return Astro.redirect("/dashboard");
}
---

<BaseLayout title="Login">
	<a href="/">Home</a>
	<br />
	<Login client:only="svelte" />
</BaseLayout>
