---
interface Props {
	title?: string;
}
const { title } = Astro.props;
---

<!doctype html>
<html lang="pt-BR">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<title>Leet{title ? ` - ${title}` : ""}</title>

		<!-- metatags -->
		<meta name="author" content="Hugo M. Larsen (hugomarcel91@gmail.com)" />
		<meta
			name="description"
			content="Leet é um sistema gerenciados de eventos. Crie eventos e permita que participantes coloquem seus nomes na lista."
		/>
		<meta name="keywords" content="leet, evento, festa, dj, lista, nome" />

		<script src="../turbo-router.ts"></script>
	</head>
	<body>
		<slot />
	</body>
</html>
